invoice-header {
  display:block;
  position:relative;
  z-index:1;
  max-height:54px;
  overflow:hidden;
  color:gray;
  background-color:#f6f6f6;
  border:2px solid #cccccc;
  border-bottom:none;
  border-top-right-radius:5px;
  border-top-left-radius:5px;
}
invoice-header .profile-image img,invoice-header .invoice-image img {
  width:50px;
  height:50px;
  margin-top:-2px;
  position:relative;
  z-index:2;
  border:2px solid #9bcc6c;
  border-radius:5px;
  background-color:#888888;
}
invoice-header .profile-image {
  float:left;
}
invoice-header .invoice-image {
  float:right;
}
invoice-header  .main {
  position:relative;
  overflow:hidden;
}
invoice-header .top {
  height:30px;
  padding:0 10px 0 10px;
  border-bottom:2px solid #9bcc6c;
  vertical-align:middle;
}
invoice-header .invoice-id {
  display:inline-block;
  font-size:1.6em;
  font-weight:600;
  color: #9bcc6c;
}
invoice-header .cost-center {
  float: right;
  display:inline-block;
  font-size:.8em;
  font-weight:bold;
}
invoice-header .bottom {
  display:block;
  height:16px;
  overflow:hidden;
  color:white;
  font-size:.7em;
  font-weight: bold;
  padding:4px 10px 0 10px;
  background-color:#444;
}
invoice-header .account-balance {
  float:right;
}

invoice-details {
  display:block;
  background-color:#eeeeee;
  border: 1px solid #dddddd;
  padding:10px 0 10px 0;
}
invoice-details .header {
  background-color:#bfbfbf;
  border-top-right-radius:7px;
  border-top-left-radius:7px;
  padding:10px;
}
invoice-details .header table.basics {
  color:#808080;
  background-color:#a9a9a9;
  width:100%;
  font-size:0.8em;
  border-radius:7px;
}
invoice-details .header table.dates {
  padding:12px;
  width:100%;
  color:#808080;
  font-size:0.8em;
}
invoice-details .header table.comments {
  color:#808080;
  width:100%;
  font-size:0.8em;
}
invoice-lines {
  display:block;
  margin:20px;
}
invoice-lines tr:first-child{
  background-color:rgba(114, 199, 118, 0.50);
}
invoice-lines tr:nth-child(odd)		{
  background-color: rgba(114, 199, 118, 0.20);
}
invoice-lines tr:nth-child(even)		{
  background-color:#f2f2f2; }

invoice input[type='text'], invoice input[type='date'] {
  padding:6px;
  border-radius:5px;
}
