main-menu .menu {
  width:250px;
  height:720px;
}
main-menu .user-flags {
  color:grey;
  font-size:0.8em;
  font-style:italic;
  text-align:center;
  display:block;
}
main-menu menu-section, main-menu menu-search-section {
  display:block;
}
main-menu .ui-accordion .ui-accordion-header {
  color:#9bcc60;
  font-size:20pt;
  font-weight:bold;
}
main-menu .ui-accordion-header .total {
  float:right;
}
main-menu .ui-accordion .ui-accordion-header-active {
  color:#ffffff;
  background-color:#9bcc60;
  -webkit-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.4);}
main-menu .menu-items .menu-subsection {
  background-color:rgba(173,216,230,0.5);
}
main-menu .menu-items .menu-subsection h4 {
  background-color:rgba(173,216,230,1.0);
}
main-menu .menu-items h4 {
  border-radius:5px;
  margin:10px 0 0 0;
  text-align:center;
  font-weight:normal;
  background-color:#bbe270;
}
.ui-accordion .ui-accordion-content-active {
  padding:0;
  background-color:#eeeeee;
  -webkit-box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 3px 2px 8px 0px rgba(0, 0, 0, 0.4);
}
main-menu menu-item {
  display:inline-block;
  width:100%;
  padding:5px 0 5px 0;
}
main-menu menu-item>a {
  display:block;
  width:100%;
}
 main-menu .menu-items>div:first-child {
  background-image: -webkit-linear-gradient(rgba(255,255,255,0.8),rgba(0,0,0,0.0));
}
main-menu menu-item:hover {
  background-color:rgba(118, 219, 30, 0.50);
}
main-menu menu-item img.menu-item-image {
  width:35px;
  height:35px;
  padding:7px;
  margin-right:7px;
  float:left;
}
main-menu menu-item .menu-item-details {
  margin-top:10px;
  width:100%;
}
main-menu .menu-item-title {
  font-size:10pt;
  font-weight:500;
}
main-menu .menu-item-detail {
  font-size:6.5pt;
  color:#999999;
}
main-menu .financeitem {
  font-size:8pt;
  display:block;
  padding:4px
}
main-menu menu-search-section input {
  border-radius:5px;
  padding:5px;
}
main-menu menu-search-section input[type='text'] {
  width:190px;
}
main-menu menu-search-section input[type='button'].search {
  background-image:url('images/search.png');
  background-size:contain;
  background-position:center;
  width:32px;
  position:relative;
  top:4px;
  left:4px;
  background-color:#9bcc60;
}
main-menu .tree {
  margin-top:4px;
  padding:4px;
  border:2px solid white;
  border-radius:4px;
}
main-menu .tree .tree {
  border:none;
  margin-left:4px;
}
main-menu .collapsible {
  display:none;
}
main-menu menu-search-section {
  display:none;
}
main-menu .financeitem .flag {
  float:right;
  border-radius:50%;
  margin:2px;
  width:10px;
  height:10px;
  background-color:blue;
}
main-menu .financeitem .flag.private {
  background-color:green;
}
