<div>
  <div class='header'>
    <table class='basics'>
      <tr><td>Vendor:<input type='text' ng-model='invoice.vendorId'/></td>
        <td>Invoice Date:<input type='date' ng-model='invoice.invoiceDate'/></td>
        <td>Original Invoice#:<input type='text' ng-model='invoice.invoiceNumber'/></td></tr>
    </table>
    <table class='dates'>
      <tr><td>Submitted by:<br/>Submitted on:</td>
        <td></td>
        <td></td></tr>
    </table>
    <table class='comments'>
      <tr><td>Special instructions<br/><textarea lines='3'/></td>
        <td></td>
        <td></td></tr>
    </table>
  </div>
  <invoice-lines lines='invoice.lines'></invoice-lines>
  <invoice-buttons></invoice-buttons>
</div>
