<div class='container'>
  <fieldset>
    <legend>Sign up</legend>
    <form name='form' novalidate>
      <div>
        <label for='firstName'>Name: </label>
        <input type='text' name='first' placeholder='First' ng-model='signup.user.firstName' required minlength='2' />
        <input type='text' name='last' placeholder='Last' ng-model='signup.user.lastName' required minlength='2'/>
        <span class='error' ng-if='(form.first.$invalid) && form.first.$touched'> First Name must be at least 2 characters long</span>
        <span class='error' ng-if='(form.last.$invalid) && form.last.$touched'> Last Name must be at least 2 characters long</span>
      </div>
      <div>
        <label for='email'>eMail address: </label>
        <input type='email' name='email' placeholder='name@example.com' ng-model='signup.user.email'  />
        <span class='error' ng-if='form.email.$invalid && form.email.$touched'> Please provide a valid email address</span>
      </div>
      <div>
        <label for='phone'>Phone number: </label>
        <input type='tel' name='phone' placeholder='(###) ###-####' ng-model='signup.user.phone' pattern='\((\d{3})\)\ (\d{3})-(\d{4})'/>
        <span class='error' ng-if='form.phone.$invalid && form.phone.$touched'> Phone number must be in the format (###) ###-####.</span>
      </div>
      <div>
        <label for='favDish'>Favourite Dish: </label>
        <input type='text' name='favDish' ng-model='signup.user.favDish' required/>
        <span class='error' ng-if='form.favDish.$invalid && form.favDish.$touched'> Please choose a Favourite Dish</span>
        <span class='error' ng-if='(!signup.dishExists) && form.favDish.$touched'>No such menu number exists.</span>
      </div>
      <button ng-disabled='form.first.$invalid || form.$invalid' ng-click='signup.go()'>Sign up</button>
      <div ng-if='signup.saved'>
        <h4>Your information has been saved.</h4>
      </div>
    </form>
  </fieldset>
</div>
