<h3>{{section.title}}<span class='total' ng-if='section.total'> ({{section.total}})</span></h3>
<div class='menu-items'>
  <div class='menu-subsection' ng-repeat='subsection in section.subsections'>
    <div ng-if='subsection.items.length>0'>
      <h4>{{subsection.title}}</h4>
      <menu-subsection class='menu-subsection' items='subsection.items'></menu-subsection>
    </div>
  </div>
  <h4 ng-if='section.subsectionsDisplayed'>My Invoices</h4>
  <div ng-repeat='item in section.items'>
    <menu-item obj='item'></menu-item>
  </div>
</div>
