<div id='MainMenu' class='menu'>
  <menu-section title='Drafts' invoices='menu.myDraftInvoices' complete='menu.onSectionComplete()' ></menu-section>
  <menu-section title='Submitted' invoices='menu.mySubmittedInvoices' complete='menu.onSectionComplete()'></menu-section>
  <menu-section title='Processing' invoices='menu.myProcessingInvoices' complete='menu.onSectionComplete()'></menu-section>
  <menu-section title='Paying' invoices='menu.myPayingInvoices' complete='menu.onSectionComplete()'></menu-section>
  <menu-section title='Paid' invoices='menu.myPaidInvoices' complete='menu.onSectionComplete()'></menu-section>
  <menu-section title='Deleted' invoices='menu.myDeletedInvoices' complete='menu.onSectionComplete()'></menu-section>
</div>
